<section class="product-catalog">
	<div class="product-catalog__container container">
		<h1 class="product-catalog__title section-title">Каталог гибкого камня</h1>
		<div class="product-catalog__items">
			<!-- 1 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs01</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog1.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 2 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs02</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog2.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 3 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs03</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog3.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 4 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs04</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog4.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 5 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs05</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog5.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 6 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs06</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog6.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 7 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs07</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog7.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 8 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs08</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog8.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 9 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs09</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog9.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 10 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs10</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog10.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 11 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs11</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog11.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 12 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs12</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog12.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 13 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs13</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog13.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 14 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs14</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog14.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 15 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs15</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog15.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
			<!-- 16 -->
			<article class="product-item">
				<div class="product-item__top">
					<div class="product-item__name">арт.kgs16</div>
					<img
						width="290"
						height="200"
						src="./assets/img/catalog16.png"
						alt="гибкий камень с узором"
						class="product-item__img"
					/>
				</div>
				<div class="product-item__details">
					<div class="product-item__detail">
						размер
						<span>950✕550 мм</span>
					</div>
					<div class="product-item__detail">
						цена от
						<span>1150 руб/м²</span>
					</div>
				</div>
				<a href="#" class="product-item__btn btn">подробнее</a>
			</article>
		</div>
		<div class="pagination">
			<div class="pagination__cursor"></div>
			<ul class="pagination__list list-reset">
				<li class="active">1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
				<li>6</li>
				<li>7</li>
				<li>8</li>
				<li>9</li>
				<li>10</li>
				<li class="disabled">...</li>
				<li>20</li>
			</ul>
		</div>
	</div>
</section>
