.section-map {
	position: relative;
	min-height: 750px;
	overflow: hidden;
	@media screen and (max-width: 1200px) {
		min-height: 0px;
	}

	&__container {
		display: flex;
		justify-content: flex-end;
		@media screen and (max-width: 1200px) {
			flex-direction: column;
			align-items: center;
		}
		@media screen and (max-width: 768px) {
			padding: 0;
		}
	}
}

#map {
	position: absolute;
	height: 100%;
	width: 100%;
	background: rgb(47, 47, 49);
	background: linear-gradient(
		90deg,
		rgb(74, 73, 80) 0%,
		rgb(96, 96, 97) 35%,
		rgb(33, 35, 36) 100%
	);
	@media screen and (max-width: 1200px) {
		height: 400px;
	}
	@media screen and (max-width: 1200px) {
		position: relative;
	}
}

.info-card {
	position: relative;
	z-index: 1;
	max-width: 640px;
	width: 100%;

	&__content {
		padding-bottom: 44px;

		background-color: var(--white);

		.user-content {
			img {
				margin-bottom: 30px;
				height: 250px;
				width: 100%;
				object-fit: cover;
				background: rgb(47, 47, 49);
				background: linear-gradient(
					90deg,
					rgb(142, 140, 151) 0%,
					rgb(96, 96, 97) 35%,
					rgb(122, 124, 126) 100%
				);
			}
			h1,
			h2,
			h3,
			h4,
			h5,
			h6 {
				padding: 0 40px;

				@media screen and (max-width: 768px) {
					padding: 0 15px;
				}

				font-family: var(--second-family);
				font-weight: 700;
				font-size: 28px;
				line-height: 1;
				letter-spacing: -0.02em;
				color: var(--black);
				@media screen and (max-width: 768px) {
				}
			}
			p {
				padding: 0 40px;
				font-family: var(--font-family);
				font-weight: 400;
				font-size: 18px;
				line-height: 1.25;
				letter-spacing: -0.01em;
				color: #333;
				@media screen and (max-width: 768px) {
					padding: 0 15px;
					font-size: 16px;
				}
			}
		}
	}
}

.balloon-content {
	position: relative;
	left: 100px;
	top: -30px;
	padding-left: 13px;
	@media screen and (max-width: 400px) {
		padding-top: 13px;
		padding-left: auto;
	}

	max-width: 300px;
	width: 100%;

	&__icon {
		position: absolute;
		z-index: 5;
		left: 1px;
		top: 50px;
		width: 13px;
		height: 34px;
		background: url('../img/svg/balloon-icon.svg') no-repeat center/cover;
	}

	&__inner {
		padding: 40px;
		background-color: #475251;
		@media screen and (max-width: 400px) {
			padding: 15px 20px;
		}
	}

	&__title {
		margin-bottom: 5px;

		font-family: var(--second-family);
		font-weight: 700;
		font-size: 24px;
		line-height: 1;
		letter-spacing: -0.02em;
		color: var(--white);
	}

	&__address {
		margin-bottom: 5px;

		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 1.25;
		letter-spacing: -0.01em;
		color: #e0e7e6;
	}

	&__socials {
		margin-bottom: 25px;

		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 1.25;
		letter-spacing: -0.01em;
	}

	&__number {
		color: #e0e7e6;
		text-decoration: none;
		transition: color 150ms ease-in-out;
		@include hover {
			color: var(--dark-green);
		}
	}

	&__email {
		color: #6ececa;
		text-decoration: none;
		transition: color 150ms ease-in-out;
		@include hover {
			color: var(--dark-green);
		}
	}

	&__tagline {
		font-family: var(--second-family);
		font-weight: 700;
		font-size: 17px;
		line-height: 1.25;
		letter-spacing: -0.01em;
		color: var(--white);
	}

	&__work-time {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 1.25;
		letter-spacing: -0.01em;
		color: #e0e7e6;
	}
}

.ymaps3x0--map-copyrights {
	display: none !important;
}
