<div class="map">
	<div class="map__container container">
		<div class="info-card">
			<img src="./assets/img/info-card-img.jpg" alt="" class="info-card__img" />
			<div class="info-card__content">
				<div class="info-card__title">О нас. Производство</div>
				<div class="usercontent">
					<p>
						На текущий момент мы обладаем одной из самых передовых технологий.
						По статистике наша продукция является самой востребованной среди
						аналогичных отделочных материалов данного типа.
					</p>
					<p>
						Мы предлагаем нашим покупателям самый большой ассортимент
						и возможность индивидуального заказа. Технологи и дизайнеры компании
						разрабатывают и регулярно добавляют в каталог новые позиции.
					</p>
					<p>
						Срок службы гибкого камня 25 и более лет. При соблюдении условий
						транспортировки, хранения, монтажа и эксплуатации. Материал нашего
						производства выгодно отличается тем, что процент осыпания в процессе
						транспортировки и монтажа составляет не более 1-3%. После
						однократного покрытия финишным составом гибкий камень не осыпается.
					</p>
					<p>
						Наша продукция компактно упакована. Можно перевезти в легковой
						машине. Вес рулона 10 кг. Доставка по Петрозаводску и Карелии
						автотранспортом компании (от 10 м²). Самовывоз со склада. Доставка
						до транспортной компании бесплатно. Обязательное страхование грузов.
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
