<section class="our-products py-70">
	<div class="our-products__container container">
		<h2 class="our-products__title">Наша продукция</h2>
		<div class="our-products__links">
			<!-- 1 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our1.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our1.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Гибкий камень</h3>
			</section>
			<!-- 2 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our2.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our2.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Каменные обои</h3>
			</section>
			<!-- 3 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our3.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our3.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Гибкая доска</h3>
			</section>
			<!-- 4 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our4.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our4.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Гибкий кирпич</h3>
			</section>
			<!-- 5 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our5.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our5.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Гибкая плитка</h3>
			</section>
			<!-- 6 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our6.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our6.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Гибкий мрамор</h3>
			</section>
			<!-- 7 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our7.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our7.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Каменный скол</h3>
			</section>
			<!-- 8 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our8.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our8.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Термопанели под кирпич</h3>
			</section>
			<!-- 9 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our9.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our9.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Термопанели однотонные</h3>
			</section>
			<!-- 10 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our10.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our10.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Термопанели с рисунком</h3>
			</section>
			<!-- 11 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our11.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our11.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Акриловый шпон</h3>
			</section>
			<!-- 12 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our12.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our12.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Мраморная штукатурка</h3>
			</section>
			<!-- 13 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our13.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our13.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Резиновая плитка</h3>
			</section>
			<!-- 14 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our14.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our14.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Ландшафтный декор</h3>
			</section>
			<!-- 15 -->
			<section class="our-product">
				<div class="our-product__img-wrapper">
					<picture>
						<source srcset="./assets/img/our15.webp" type="image/webp" />
						<img
							width="290"
							height="290"
							src="./assets/img/our15.png"
							alt="#"
							class="our-product__img"
						/>
					</picture>

					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<h3 class="our-product__text">Фасадный декор</h3>
			</section>
		</div>
	</div>
</section>
