<section class="our-products py-70">
	<div class="our-products__container container">
		<h2 class="our-products__title">Наша продукция</h2>
		<div class="our-products__links">
			<!-- 1 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our1.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Гибкий камень</span>
			</article>
			<!-- 2 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our2.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Каменные обои</span>
			</article>
			<!-- 3 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our3.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Гибкая доска</span>
			</article>
			<!-- 4 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our4.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Гибкий кирпич</span>
			</article>
			<!-- 5 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our5.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Гибкая плитка</span>
			</article>
			<!-- 6 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our6.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Гибкий мрамор</span>
			</article>
			<!-- 7 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our7.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Каменный скол</span>
			</article>
			<!-- 8 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our8.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Термопанели под кирпич</span>
			</article>
			<!-- 9 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our9.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Термопанели однотонные</span>
			</article>
			<!-- 10 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our10.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Термопанели с рисунком</span>
			</article>
			<!-- 11 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our11.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Акриловый шпон</span>
			</article>
			<!-- 12 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our12.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Мраморная штукатурка</span>
			</article>
			<!-- 13 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our13.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Резиновая плитка</span>
			</article>
			<!-- 14 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our14.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Ландшафтный декор</span>
			</article>
			<!-- 15 -->
			<article href="#" class="our-product">
				<div class="our-product__img-wrapper">
					<img
						width="290"
						height="290"
						src="./assets/img/our15.png"
						alt="#"
						class="our-product__img"
					/>
					<a href="#" class="our-product__link btn">подробнее</a>
				</div>
				<span class="our-product__text">Фасадный декор</span>
			</article>
		</div>
	</div>
</section>
