<footer class="footer">
	<div class="footer__container container">
		<div class="footer__wrap">
			<a href="/" class="footer__logo logo" aria-label="Главная">
				<img
					width="81"
					height="52"
					src="./assets/img/svg/footer-logo.svg"
					alt="Логотип ИЖС Карелии - стилизованное изображение дома и дерева на зеленом фоне с надписью на русском языке 'ИЖС Карелии'"
					class="logo__img"
				/>
			</a>

			<nav class="footer__nav">
				<ul class="footer__menu menu list-reset">
					<li>
						<a href="#" class="menu__link">О компании</a>
					</li>
					<li>
						<a href="#" class="menu__link">Товары</a>
					</li>
				</ul>
			</nav>
		</div>

		<p class="footer__copy">
			ИП Хардин Павел Владимирович, ОГРНИП: 333100111133711
			<a class="footer__link" href="#"
				>Политика конфиденциальности и обработки персональных данных</a
			>
		</p>

		<p class="footer__text">
			<a class="footer__link" href="#">Разработка и поддержка сайта</a>
			ООО «Интэрсо»
		</p>

		<div class="footer__actions">
			<div class="footer__contact-links contact-links">
				<ul class="footer__socials socials list-reset">
					<li>
						<a
							class="social-link"
							href="#"
							target="_blank"
							aria-label="наш ватсап"
						>
							<svg class="social-link__icon ws-icon">
								<use href="./assets/img/svg/sprite.svg#ws"></use>
							</svg>
						</a>
					</li>
					<li>
						<a
							class="social-link"
							href="#"
							target="_blank"
							aria-label="наш телеграм"
						>
							<svg class="social-link__icon tg-icon">
								<use href="./assets/img/svg/sprite.svg#tg"></use>
							</svg>
						</a>
					</li>
				</ul>
				<a href="tel:+88006005426" class="footer__phone-link phone-link"
					>8 (800) 600-54-26</a
				>
			</div>
			<button class="footer__btn btn btn-reset">Задать вопрос</button>
		</div>
	</div>
</footer>
