<div class="balloon-content">
	<div class="balloon-content__icon"></div>
	<div class="balloon-content__inner">
		<div class="balloon-content__title">Производство в Карелии</div>
		<div class="balloon-content__address">
			185014 г. Петрозаводск, Республика Карелия, Россия
		</div>
		<div class="balloon-content__socials">
			<a href="tel:+79213024630" class="balloon-content__number"
				>+7 921 302-46-30</a
			>
			<a href="mailto:pavel.mfcn@yandex.ru" class="balloon-content__email"
				>pavel.mfcn@yandex.ru</a
			>
		</div>
		<div class="balloon-content__tagline">Режим работы</div>
		<div class="balloon-content__work-time">пн-пт: 10:00—19:00</div>
		<div class="balloon-content__work-time">сб-вс: 11:00—19:00</div>
	</div>
</div>
