<section class="hero">
	<div class="hero__container">
		<!-- Swiper -->
		<div class="swiper hero__swiper">
			<div class="swiper-wrapper">
				<!-- 1 -->
				<div class="swiper-slide">
					<picture>
						<source
							srcset="./assets/img/slide1-mob.jpg"
							media="(max-width: 768px)"
						/>
						<img
							class="hero__img"
							src="./assets/img/slide1.jpg"
							alt="интерьер помещения с камином, установленным в каменной стене. Вокруг камина видны декоративные элементы и предметы мебели."
						/>
					</picture>

					<div class="hero__content container">
						<h1 class="hero__title">
							Гибкий камень, каменные обои и термопанели
						</h1>
						<p class="hero__subtitle">
							эксклюзивный продукт, широко применяемый при внутренней и внешней
							отделке, для создания различных предметов интерьера
						</p>
					</div>
				</div>
				<!-- 2 -->
				<div class="swiper-slide">
					<picture>
						<source
							srcset="./assets/img/slide1-mob.jpg"
							media="(max-width: 768px)"
						/>
						<img
							class="hero__img"
							src="./assets/img/slide1.jpg"
							alt="интерьер помещения с камином, установленным в каменной стене. Вокруг камина видны декоративные элементы и предметы мебели."
						/>
					</picture>

					<div class="hero__content container">
						<h1 class="hero__title">
							Гибкий камень, каменные обои и термопанели
						</h1>
						<p class="hero__subtitle">
							эксклюзивный продукт, широко применяемый при внутренней и внешней
							отделке, для создания различных предметов интерьера
						</p>
					</div>
				</div>
			</div>
			<div class="container hero__pagination-wrapper">
				<div class="swiper-pagination"></div>
			</div>
		</div>
		<!-- Swiper -->
	</div>
</section>
