body {
	font: 400 18px/1.15 var(--font-family);
	color: #333;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	overflow: hidden;

	min-height: 100vh;
}

.main {
	flex: 1;
}

.container {
	--padding: 15px;
	--width: 1300px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	width: 100%;
	padding: 0 var(--padding);
}

.container-lg {
	--padding: 15px;
	--width: 1920px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	width: 100%;
	padding: 0 var(--padding);
}

.py-70 {
	padding: 70px 0;
	@media screen and (max-width: 992px) {
		padding: 30px 0;
	}
}

.swiper-pagination-bullet {
	background-color: #46a6a2;
	opacity: 1;
	width: 10px;
	height: 10px;
	border-radius: 0;
	margin-left: 15px !important;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
	opacity: 1;
}

.link-green {
	font-family: var(--font-family);
	font-weight: 400;
	font-size: 21px;
	line-height: 1.25;
	letter-spacing: -0.01em;
	color: var(--light-green);
	text-decoration: none;
	transition: color 150ms ease-in-out;
	@include hover {
		color: var(--dark-green);
	}
}

.section-title {
	margin-bottom: 20px;
	padding-top: 60px;
	padding-bottom: 30px;

	font-family: var(--second-family);
	font-weight: 700;
	font-size: 50px;
	line-height: 1;
	letter-spacing: -0.03em;
	color: var(--black);

	@media screen and (max-width: 992px) {
		font-size: 32px;
		padding: 30px 0;
	}

	@media screen and (max-width: 768px) {
		font-size: 24px;
	}
}

// User-Content

.user-content {
	p {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 18px;
		line-height: 1.3;
		color: #333;
		letter-spacing: -0.01em;
	}
	p + p {
		margin-top: 15px;
	}

	blockquote {
		font-family: var(--font-family);
		font-weight: 400;
		font-size: 26px;
		line-height: 1.3;
		color: #475251;
		margin: 0;
	}
}
