body {
	font: 400 18px/1.15 var(--font-family);

	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.app {
	overflow: hidden;

	min-height: 100vh;
}

.main {
	flex: 1;
}

.container {
	--padding: 15px;
	--width: 1300px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	width: 100%;
	padding: 0 var(--padding);
}

.container-lg {
	--padding: 15px;
	--width: 1920px;

	margin: 0 auto;

	max-width: calc(var(--width) + var(--padding));
	width: 100%;
	padding: 0 var(--padding);
}

.py-70 {
	padding: 70px 0;
	@media screen and (max-width: 992px) {
		padding: 30px 0;
	}
}

.swiper-pagination-bullet {
	background-color: #46a6a2;
	opacity: 1;
	width: 10px;
	height: 10px;
	border-radius: 0;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
	opacity: 1;
}
