:root {
	--font-family: 'Roboto Condensed', sans-serif;
	--second-family: 'PT Mono', sans-serif;

	--white: #fff;
	--black: #000;
	--dark-green: #293433;
	--light-green: #147470;
	--green-100: #6ececa;
}
